body{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #E5E5E5;
    overflow: hidden;
}

.custom-card{
    height: 98vh;
    background: #FFFFFF;
    border-radius: 15px;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}